body{
    margin-left : 20px;
}
.chat {
    background-color: rgb(163, 209, 210);
    padding : 20px;
    border-radius : 16px;
    display:inline-block;
}
.msg { 
    background-color:rgb(0, 0, 63) ;
    color : white;
    padding: 5px 15px;
    border-radius: 16px;
}

