<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page></title>
</head>
<body>
    <h3><%= 1 + 2 %></h3> <!--ejs tag-->
    <h1>this is a home page</h1>
    <!-- alt+z better format -->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere dolorem quo aliquam non sed quis provident qui nam error, eligendi minus a tenetur maiores, officiis suscipit ducimus pariatur magnam. Ratione.</p>
    <button>click me</button>
</body>
</html>