<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2> hi</h2>
    <h3> total number of users on app are : <%=count%></h3>
    <button>click me</button>
</body>
</html>